<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<%= image_tag('http://pillist.herokuapp.com/assets/pillist.logo-58d1c0b3f52726b5d953c66f5ec419eb.png', height:'40') %>
    <h1>Thanks for your interest!</h1>
    <p>We're excited to know you're interested in our mission to improve medication management. We're hard at work on building the product, and we'll get back to you as soon as it's finished!</p>

    <p>Cheers,</p>
    <b>The Pillist Team</b>
  </body>
</html>