<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Email: <b><%= @user.email %></b>
    Type: <b><%= @user.type %></b><small>self-reported</small>
  </body>
</html>