
<div class = "landing-background"></div>
<div class = "content">
	<div class = "logo-wrapper">
		<!-- <div class = "logo"> -->
		<%= link_to( image_tag('pilllist.pill with extended l.rage and palatino.svg', :class => "logo"), image_path("compiled logos.png")) %>
		<!-- </div> -->
	</div>
	<div class = "tagline">
		<div class = "title shadow">Medication Organization</div>
		<div class = "title"><strong><i> Reimagined</i></strong></div>
	</div>
	<div class = "description-wrapper">
		<div class = "description shadow">
			We're building a new way to ...[description goes here]
			<br/>
			<b>Sign up</b> to learn more:
		</div>
		<div id = "email-input">
			<input autocomplete = "off" id = "email" placeholder = "email address" type = "text">
		</div>
	</div>

	<div class = "footer shadow">
		<ul>
			<li><a href = "#">About</a></li>
			<li><a href = "#">Team</a></li>
			<li><a href = "#">Contact</a></li>
		</ul>
	</div>
	</div>
</div>